<link rel="stylesheet" href="/css/user_profile.css" />
<h1><%= title %></h1>
<form action="/users/login" method="get">
  <button type="submit">Sign Out</button>
</form>
<h3>Welcome <%= name%>, Email Id : <%= email%></h3>
